[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==1.1.1"
gunicorn = "==20.0.4"
mmh3 = "==2.5.1"
requests = "==2.22.0"

[dev-packages]
autoflake = "*"
black = "*"
coveralls = "*"
isort = "*"
mypy = "*"
pytest = "*"
pytest-black = "*"
pytest-cov = "*"
pytest-mock= "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
