aiodns==3.0.0
aiofiles==0.7.0; python_version >= "3.6" and python_version < "4.0"
anyio==3.3.1; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2"
asgiref==3.4.1; python_version >= "3.6"
asyncwhois==0.4.0; python_version >= "3.6"
atomicwrites==1.4.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
attrs==21.2.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
backports.zoneinfo==0.2.1; python_version >= "3.8" and python_version < "3.9"
beautifulsoup4==4.10.0; python_full_version > "3.0.0"
certifi==2021.5.30; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4" or python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4"
cffi==1.14.6; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
charset-normalizer==2.0.6; python_full_version >= "3.6.0" and python_version >= "3.6" and python_version < "4"
click==8.0.1; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.5.0" and platform_system == "Windows"
cryptography==3.4.8; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
d8s-csv==0.6.0
d8s-dicts==0.6.0
d8s-domains==0.6.0
d8s-file-system==0.10.0
d8s-hashes==0.6.0
d8s-hypothesis==0.6.0
d8s-json==0.3.0
d8s-lists==0.8.0
d8s-math==0.7.0
d8s-networking==0.4.2
d8s-strings==0.5.0
d8s-urls==0.6.0
d8s-user-agents==0.6.0
d8s-uuids==0.6.0
dataclasses-json==0.5.6; python_version >= "3.8" and python_version < "4.0"
dateparser==1.0.0; python_version >= "3.8" and python_version < "4.0"
dictdiffer==0.9.0
fastapi-utils==0.2.1; python_version >= "3.6" and python_version < "4.0"
fastapi==0.68.1; python_version >= "3.6"
filelock==3.0.12; python_version >= "3.6"
greenlet==1.1.1; python_version >= "3" and python_full_version < "3.0.0" and (platform_machine == "arch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0") or python_version >= "3" and (platform_machine == "arch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "win32" or platform_machine == "WIN32") and (python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0") and python_full_version >= "3.5.0"
gunicorn==20.1.0; python_version >= "3.5"
h11==0.12.0; python_version >= "3.6" and python_version < "4"
httpcore==0.13.7; python_version >= "3.6" and python_version < "4"
httptools==0.2.0
httpx==0.19.0; python_version >= "3.6" and python_version < "4"
hypothesis==6.21.6; python_version >= "3.6"
idna==3.2; python_full_version >= "3.6.2" and python_version >= "3.6" and python_version < "4"
inflect==5.3.0; python_version >= "3.6"
ioc-fanger==3.3.0
ioc-finder==6.0.1
loguru==0.5.3; python_version >= "3.5"
marshmallow-enum==1.5.1; python_version >= "3.8" and python_version < "4.0"
marshmallow==3.13.0; python_version >= "3.8" and python_version < "4.0"
mmh3==3.0.0
more-itertools==8.10.0; python_version >= "3.5"
mpmath==1.2.1; python_version >= "3.6"
mypy-extensions==0.4.3; python_version >= "3.8" and python_version < "4.0"
number-tools==0.1.0
poetry-version==0.1.5; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0"
ppdeep==20200505
pycares==4.0.0; python_version >= "3.6"
pycparser==2.20; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0"
pydantic==1.8.2; python_full_version >= "3.6.1" and python_version >= "3.6" and python_version < "4.0"
pyopenssl==20.0.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
pyparsing==2.4.7; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0"
python-dateutil==2.8.2; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.3.0"
python-dotenv==0.19.0; python_version >= "3.5"
pytz==2021.1; python_version >= "3.8" and python_version < "4.0"
pyyaml==5.4.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0"
regex==2021.8.28; python_version >= "3.8" and python_version < "4.0"
requests-file==1.5.1; python_version >= "3.6"
requests==2.26.0; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.6.0")
rfc3986==1.5.0; python_version >= "3.6" and python_version < "4"
six==1.16.0; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_full_version >= "3.5.0" and python_version >= "3.8" and python_version < "4.0"
sniffio==1.2.0; python_version >= "3.6" and python_version < "4" and python_full_version >= "3.6.2"
sortedcontainers==2.4.0; python_version >= "3.6"
soupsieve==2.2.1; python_version >= "3.6" and python_full_version > "3.0.0"
sqlalchemy==1.4.24; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.6" and python_version < "4.0" and python_full_version >= "3.6.0"
starlette==0.14.2; python_version >= "3.6" and python_version < "4.0"
sympy==1.8; python_version >= "3.6"
tldextract==3.1.2; python_version >= "3.6"
tomlkit==0.5.11; python_version >= "3.8" and python_full_version < "3.0.0" and python_version < "4.0" or python_version >= "3.8" and python_version < "4.0" and python_full_version >= "3.4.0"
typing-extensions==3.10.0.2; python_full_version >= "3.6.1" and python_version >= "3.8" and python_version < "4.0"
typing-inspect==0.7.1; python_version >= "3.8" and python_version < "4.0"
tzdata==2021.1; python_version >= "3.8" and python_version < "4.0" and platform_system == "Windows"
tzlocal==3.0; python_version >= "3.8" and python_version < "4.0"
urllib3==1.26.7; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
uvicorn==0.15.0
uvloop==0.16.0; sys_platform != "win32" and sys_platform != "cygwin" and platform_python_implementation != "PyPy" and python_version >= "3.7"
watchgod==0.7; python_version >= "3.5"
websockets==10.0; python_version >= "3.7"
werkzeug==2.0.1; python_version >= "3.6"
whodap==0.1.2; python_version >= "3.6" and python_version < "4"
whois-parser==0.1.0; python_version >= "3.8" and python_version < "4.0"
whois==0.9.13
win32-setctime==1.0.3; sys_platform == "win32" and python_version >= "3.5"
